$border-radius: 50px;
$background: #d8dcdf;
$shadow-active: 9px 9px 18px #c9cdcf,
    -9px -9px 18px #e7ebef !important;
$shadow-in-active: inset 9px 9px 18px #c9cdcf,
    inset -9px -9px 18px #e7ebef !important;

$montserrat: 'Montserrat', sans-serif;
$madurai: 'Hind Madurai', sans-serif;
$lora: 'Lora', serif;
