$border-radius: 50px;
$background: #eeeeee;
$shadow-active: -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001,
    inset 0px 0px 0px 0px #fff9,
    inset 0px 0px 0px 0px #0001 !important;
$shadow-in-active: 0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #fff9,
    0px 0px 0px 0px #0001,
    0px 0px 0px 0px #0001,
    inset -7px -7px 20px 0px #fff9,
    inset -4px -4px 5px 0px #fff9,
    inset 7px 7px 20px 0px #0003,
    inset 4px 4px 5px 0px #0001 !important;

$montserrat: 'Montserrat', sans-serif;
$madurai: 'Hind Madurai', sans-serif;
$lora: 'Lora', serif;
