* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d8dcdf;
  font-family: "Lora", serif;
  font-size: .9em;
  font-weight: 500;
}

body .feather {
  width: 18px;
  height: 18px;
}

body .active {
  -webkit-box-shadow: 9px 9px 18px #c9cdcf, -9px -9px 18px #e7ebef !important;
          box-shadow: 9px 9px 18px #c9cdcf, -9px -9px 18px #e7ebef !important;
}

body .in-active {
  -webkit-box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
          box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
}

body .d-none {
  display: none !important;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body .container .container-wrapper {
  padding: 20px;
  margin: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .container-wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .container-wrapper .header .link-item {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  color: #000;
  background: #d8dcdf;
  border-radius: 50px;
  padding: 15px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

body .container .container-wrapper .header .link-item:active {
  -webkit-box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
          box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
}

body .container .container-wrapper .header .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .container-wrapper .header .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .container .container-wrapper .header .settings .dropdown-settings {
  list-style: none;
  position: absolute;
  top: 60px;
  display: none;
  -webkit-box-shadow: 9px 9px 18px #c9cdcf, -9px -9px 18px #e7ebef !important;
          box-shadow: 9px 9px 18px #c9cdcf, -9px -9px 18px #e7ebef !important;
  border-radius: 20px;
  background: #d8dcdf;
  overflow: hidden;
}

body .container .container-wrapper .header .settings .dropdown-settings .dropdown-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .container-wrapper .header .settings .dropdown-settings .dropdown-item a {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Hind Madurai", sans-serif;
  color: #000;
}

body .container .container-wrapper .header .settings .dropdown-settings .dropdown-item a:active {
  -webkit-box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
          box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
}

body .container .container-wrapper .header .settings .overflow {
  overflow: hidden;
}

body .container .container-wrapper .artist-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container .container-wrapper .artist-details .artist-image {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

body .container .container-wrapper .artist-details .artist-image .disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .container-wrapper .artist-details .artist-image .disc .middle-circle {
  position: absolute;
  z-index: 99;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #d8dcdf;
  border: 1px solid #bbb;
}

body .container .container-wrapper .artist-details .artist-image .disc img {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

body .container .container-wrapper .artist-details .artist-image .disc .img-playing {
  height: 300px;
  width: 300px;
}

body .container .container-wrapper .artist-details .artist-image .disc .rotation {
  -webkit-animation: rotation 10s infinite linear !important;
          animation: rotation 10s infinite linear !important;
}

body .container .container-wrapper .artist-details .artist-info {
  text-align: center;
}

body .container .container-wrapper .artist-details .artist-info h1 {
  font-size: 3em;
  letter-spacing: 1px;
  opacity: .8;
}

body .container .container-wrapper .artist-details .artist-info p {
  opacity: .8;
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.4em;
}

body .container .container-wrapper .actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .container-wrapper .actions .btn-action {
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  background: #d8dcdf;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 15px;
  margin-right: 10px;
}

body .container .container-wrapper .actions .btn-action:active {
  -webkit-box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
          box-shadow: inset 9px 9px 18px #c9cdcf, inset -9px -9px 18px #e7ebef !important;
}

body .container .container-wrapper .actions .btn-action:last-child {
  margin-right: 0;
}

body .container .container-wrapper .actions .range {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #000;
  background: #d8dcdf;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 12px;
}

body .container .container-wrapper .actions .range input[type="range"] {
  margin-left: 10px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */