@import 'fonts';
@import 'variable';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body{
    background-color: $background;
    font-family: $lora !important;
    font-size: .9em !important;
    font-weight: 500 !important;
    font-display: swap;
    
    .container-fluid{
        .feather{
            width: 18px;
            height: 18px;
        }
    
        .active{
            box-shadow: $shadow-active;
        }
    
        .in-active{
            box-shadow: $shadow-in-active;
        }

        input[type="range"]{
            outline: none;
            width: 100%;
        }

        .btn-play{
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-items: center;
            color: #000;
            background: $background;
            border-radius: $border-radius;
            padding: 15px;
            transition: all .3s ease;
        }
    }
}
